specs/wsba.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsba="http://docs.oasis-open.org/ws-tx/wsba/2006/06"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://docs.oasis-open.org/ws-tx/wsba/2006/06"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:import namespace="http://docs.oasis-open.org/ws-tx/wsba/2006/06"
		location="wstx-wsba-1.1-wsdl-200702.wsdl"/>

	<wsdl:binding
		name="BusinessAgreementWithCoordinatorCompletionCoordinatorBinding"
		type="wsba:BusinessAgreementWithCoordinatorCompletionCoordinatorPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CompletedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CompletedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="FailOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/FailOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CompensatedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CompensatedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ClosedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/ClosedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CanceledOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CanceledOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ExitOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/ExitOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CannotComplete">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CannotComplete" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="GetStatusOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/GetStatusOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="StatusOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/StatusOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding
		name="BusinessAgreementWithParticipantCompletionCoordinatorBinding"
		type="wsba:BusinessAgreementWithParticipantCompletionCoordinatorPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CompletedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CompletedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="FailOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/FailOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CompensatedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CompensatedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ClosedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/ClosedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CanceledOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CanceledOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ExitOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/ExitOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CannotComplete">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CannotComplete" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="GetStatusOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/GetStatusOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="StatusOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/StatusOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding
		name="BusinessAgreementWithParticipantCompletionParticipantBinding"
		type="wsba:BusinessAgreementWithParticipantCompletionParticipantPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CloseOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CloseOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CancelOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CancelOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CompensateOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CompensateOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="FailedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/FailedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ExitedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/ExitedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="NotCompleted">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/NotCompleted" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="GetStatusOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/GetStatusOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="StatusOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/StatusOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding
		name="BusinessAgreementWithCoordinatorCompletionParticipantBinding"
		type="wsba:BusinessAgreementWithCoordinatorCompletionParticipantPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CompleteOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CompleteOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CloseOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CloseOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CancelOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CancelOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CompensateOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/CompensateOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="FailedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/FailedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ExitedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/ExitedOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="NotCompleted">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/NotCompleted" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="GetStatusOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/GetStatusOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="StatusOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/StatusOperation" />
			<wsdl:input>
				<soap:body use="literal" parts=" parameters" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="BAParticipantCompletionParticipantService">
		<wsdl:port name="BAParticipantCompletionParticipant"
			binding="wsba:BusinessAgreementWithParticipantCompletionParticipantBinding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="BACoordinatorCompletionCoordinatorService">
		<wsdl:port name="BACoordinatorCompletionCoordinator"
			binding="wsba:BusinessAgreementWithCoordinatorCompletionCoordinatorBinding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="BACoordinatorCompletionParticipantService">
		<wsdl:port name="BACoordinatorCompletionParticipant"
			binding="wsba:BusinessAgreementWithCoordinatorCompletionParticipantBinding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="BAParticipantCompletionCoordinatorService">
		<wsdl:port name="BAParticipantCompletionCoordinator"
			binding="wsba:BusinessAgreementWithParticipantCompletionCoordinatorBinding">
			<soap:address location="http://www.example.org/" />		
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
