common/specs/wsat.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsat="http://docs.oasis-open.org/ws-tx/wsat/2006/06"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://docs.oasis-open.org/ws-tx/wsat/2006/06"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<wsdl:import namespace="http://docs.oasis-open.org/ws-tx/wsat/2006/06"
		location="wstx-wsat-1.1-wsdl-200702.wsdl" />

	<wsdl:binding name="CompletionCoordinatorBinding"
		type="wsat:CompletionCoordinatorPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="CommitOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Commit" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="RollbackOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Rollback" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="CompletionInitiatorBinding"
		type="wsat:CompletionInitiatorPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="CommittedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Committed" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="AbortedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Aborted" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="Coordinator2PCBinding"
		type="wsat:CoordinatorPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="AbortedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Aborted" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="ReadOnlyOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/ReadOnly" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="PreparedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Prepared" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CommittedOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Committed" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:binding name="Participant2PCBinding"
		type="wsat:ParticipantPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="PrepareOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Prepare" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CommitOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Commit" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="RollbackOperation">
			<soap:operation
				soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Rollback" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Participant2PCService">
		<wsdl:port binding="wsat:Participant2PCBinding" name="Participant2PC">
			<soap:address
				location="http://localhost:8081/axis2/services/Participant" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="Coordinator2PCService">
		<wsdl:port binding="wsat:Coordinator2PCBinding" name="Coordinator2PC">
			<soap:address
				location="http://localhost:8081/axis2/services/Coordinator" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="CompletionInitiator">
		<wsdl:port binding="wsat:CompletionInitiatorBinding"
			name="CompletionInitiator">
			<soap:address
				location="http://localhost:8081/axis2/services/CompletionInitiator" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="CompletionCoordinator">
		<wsdl:port binding="wsat:CompletionCoordinatorBinding"
			name="CompletionCoordinator">
			<soap:address
				location="http://localhost:8081/axis2/services/CompletionCoordinator" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions> 
