common/specs/wstx-wscoor-1.1-wsdl-200702.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) OASIS Open 2006.  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wscoor="http://docs.oasis-open.org/ws-tx/wscoor/2006/06" targetNamespace="http://docs.oasis-open.org/ws-tx/wscoor/2006/06">
  <wsdl:types>
    <xs:schema>
      <xs:import
          namespace='http://docs.oasis-open.org/ws-tx/wscoor/2006/06'
          schemaLocation='wstx-wscoor-1.1-schema-200701.xsd' />
    </xs:schema>
  </wsdl:types> 
  <!-- Messages -->
  <wsdl:message name="CreateCoordinationContext">
    <wsdl:part name="parameters" element="wscoor:CreateCoordinationContext"/>
  </wsdl:message>
  <wsdl:message name="CreateCoordinationContextResponse">
    <wsdl:part name="parameters" element="wscoor:CreateCoordinationContextResponse"/>
  </wsdl:message>
  <wsdl:message name="Register">
    <wsdl:part name="parameters" element="wscoor:Register"/>
  </wsdl:message>
  <wsdl:message name="RegisterResponse">
    <wsdl:part name="parameters" element="wscoor:RegisterResponse"/>
  </wsdl:message>
  <!-- Port Types -->
  <wsdl:portType name="ActivationPortType">
    <wsdl:operation name="CreateCoordinationContextOperation">
      <wsdl:input message="wscoor:CreateCoordinationContext"/>
      <wsdl:output message="wscoor:CreateCoordinationContextResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RegistrationPortType">
    <wsdl:operation name="RegisterOperation">
      <wsdl:input message="wscoor:Register"/>
      <wsdl:output message="wscoor:RegisterResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
